{% extends 'base.html.twig' %}

{% block title %}New Uczniowie{% endblock %}

{% block body %}
    <h1>Create new Uczniowie</h1>

    {{ include('uczniowie/_form.html.twig') }}

    <a href="{{ path('uczniowie_index') }}">back to list</a>
{% endblock %}
